.navsurah {
  padding: 14px;
  text-align:center;
  font-size:.8rem;
  margin-top:10px;
}
.navsurah a {
display:inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  background:var(--accent);
  border-radius:5px;
  padding:5px 8px;
  text-align: center;
}
.navsurah a:hover{background:var(--dark-accent);}
/* CONTAINER */
.container{
  max-width:850px;
  margin:auto;
  padding:16px;
}
.article-container{
  max-width:850px;
  margin:auto;
  padding:0 20px 20px;
  line-height:1.6;
}
.article-container h1{text-align:center;font-size:clamp(1.45em, 4.5vw, 1.95em)}
.isi{margin:30px 0}
/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:12px;
}

@media(max-width:900px){
  .grid{ grid-template-columns:repeat(2,1fr); }
}

@media(max-width:600px){
  .grid{ grid-template-columns:1fr; }
}
.card2{
  background:var(--card2);
  padding:14px;
  border-radius:12px;
  position:sticky;
  top:0;
  z-index:2;
  margin-bottom:20px;
  border:1px solid var(--border-accent);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display:flex;
  justify-content:space-around;
  flex-direction:row;
}
.doa{text-align:center;font-size:14px;font-weight:600}
.doa p{margin:0}
.doa a{color:var(--text);text-decoration:none}
/* CARD SURAT */
.card{
  background:var(--card);
  padding:14px;
  border-radius:12px;
  box-shadow:0 2px 5px rgba(0,0,0,.08);
  cursor:pointer;
  border:1px solid var(--border-accent);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card b{font-size:1.1em}
.card:hover{
  background:var(--light-accent);
  border:1px solid var(--bd-accent);
}
.arab{
  font-family:"AbuFaqih","Noto Naskh Arabic","Traditional Arabic","Geeza Pro",serif;
  font-size: clamp(30px, 4.5vw, 38px);
  text-align:right;
  line-height:2;
}
.meta{
  font-size:12px;
  opacity:.7;
  text-transform: capitalize;
}
.card .arti {
  font-size: 13px;
  color: var(--text);
  opacity:.8;
  margin: 4px 0 6px;
}
/* BACK TOP BUTTON */
.top{
  bottom:25px;
  right:25px;
}



/* ===== SPOILER ===== */
.spoiler {
  border: 1px solid #8993a1;
  border-radius: 10px;
  overflow: hidden;
  margin: 16px 0;
}
body.dark .spoiler{border-color:#3aa06c}
.spoiler input {
  display: none;
}

.spoiler label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #e4e8ed;
  cursor: pointer;
  font-weight: 600;
  transition: background .2s ease;
}
body.dark .spoiler label{background: #1b7f4d;}

.spoiler label:hover {
  background: #d4dae0;
}
body.dark .spoiler label:hover{background: #278d5a;}
.spoiler label::after {
  content: "＋";
  font-size: 18px;
  transition: transform .3s ease;
}

.spoiler input:checked + label::after {
  content: "−";
}

.spoiler-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  transition: max-height .4s ease, padding .3s ease;
  text-align:center;
}
.spoiler-content img{width:100%;max-width:450px;margin:30px 0}
.spoiler input:checked ~ .spoiler-content {
  max-height: 1000px;
  padding: 16px;
}

/* ===== CONTENT ===== */
.spoiler-content p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.spoiler-content code {
  background: #f3f4f6;
  padding: 4px 6px;
  border-radius: 6px;
  font-family: monospace;
  font-size: 14px;

}


