.jadwalContainer{
  max-width: 850px;
  margin: auto;
  padding: 35px 16px 16px;
}
.topWrap{text-align:center;margin-bottom:35px}
.topWrap h2{margin-bottom:1x}
.desc{margin:35px 0 30px;line-height:1.6}

.header{
  margin-bottom:10px;
}
.lokasi{
  font-weight:bold;
  font-size:1.12em;
  text-align:center;
}
.tanggal{
  opacity:.8;
  font-size:14px;
}

.hijriyah{
  opacity:.7;
  font-size:13px;
}

.row{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid #eee;
}
body.dark .row{border-bottom-color:#2b3444}
.row.highlight{
  font-weight:600;
}

/* Value khusus */
.value.imsak{
  color:#e65100;
  font-weight:600;
}

.value.maghrib{
  color:#2e7d32;
  font-weight:700;
  font-size:1.08em;

}
#lokasi,#tanggal,#hijriyah {line-height:1.5}
#lokasi {font-weight:600;font-size:1.15em}
#hijriyah{color:green;margin-bottom:15px;font-weight:600}

body.dark #hijriyah, body.dark .value.maghrib{color:#81cc20}





